@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  box-sizing: border-box;
  font-family: "Press Start 2P", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  position: relative;
  background-image: url("https://media4.giphy.com/media/3ohzdGnD5vAud1NCZW/giphy.gif");
  background-size: cover;
  background-repeat: repeat;
}
Header {
  display: flex;
  background: linear-gradient(#e66465, #9198e5);
  height: 200%;
  width: 100%;
  /* z-index: -2; */
  color: #eee;
  justify-content: space-between;
  align-items: center;
  font-weight: large;
}

.container {
  display: flex;

  justify-content: space-around;
  align-items: center;
}

input {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  cursor: pointer;
}

button {
  margin: 100px;
  width: 100px;
  height: 100px;
  align-self: center;
  border-radius: 50%;
  background-color: red;
  box-shadow: inset 0 2px 10px 5px rgba(0, 0, 0, 0.5);
  color: #eee;
}

.play-buttons {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-buttons .start {
  background-color: green;

  cursor: pointer;
}

.play-buttons .restart {
  cursor: pointer;
}

.AI-score {
  position: absolute;
  top: 20px;
  left: 20px;
}
.human-score {
  position: absolute;
  top: 20px;
  right: 20px;
}

.Human-choice {
  display: flex;

  justify-content: space-around;
  align-items: center;
  margin: 40px 10px;
}

img {
  height: 100px;
  width: 100px;
  transition: transform 0.6s ease-in;
  opacity: 0;
}

.container input.rock {
  background: url("https://icons.iconarchive.com/icons/raindropmemory/down-to-earth/48/G12-Rock-icon.png");
  background-position: center;
  background-repeat: no-repeat;
}

.container input.scissors {
  background: url("https://icons.iconarchive.com/icons/mattahan/umicons/48/Cut-icon.png");
  background-position: center;
  background-repeat: no-repeat;
}

.container input.paper {
  background: url("https://icons.iconarchive.com/icons/mirella-gabriele/fantasy-mediaeval/64/Paper-icon.png");
  background-position: center;
  background-repeat: no-repeat;
}

.Human-choice img.selected {
  opacity: 1;

  transform: translateY(-10%);
}

.computer-choice {
  display: flex;
  justify-content: space-around;
  margin: 40px 10px;
}

.computer-choice img.AI-choice {
  opacity: 1;
  transform: translateY(50%);
}

footer {
  position: absolute;
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#message {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.7;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 25%;
  padding: 20px;
  text-align: center;
  font-size: 2rem;
  opacity: 0;
  z-index: 300;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -150%);
  transition: 0.9s ease-in;
  color: #eee;
}

#message.visible {
  opacity: 1;
  transform: translate(-50%, 150%);
}

.container .no-winner {
  height: 60px;
  width: 100;
}

.equality {
  visibility: visible;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.7;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 25%;
  color: #eee;
  font-size: 2rem;
  position: absolute;
  top: 0;
  right: 50%;
  z-index: 3;
  transform: translate(50%, -150%);
  transition: translate 0.9s ease-out;
}

.equality.visible {
  transform: translate(50%, 150%);
  transition: transform 0.4s ease-in-out;
}

.winning-message {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.7;
  background-color: rgba(0, 0, 0, 0.75);
  color: #eee;
  width: 100%;
  height: 10%;
  bottom: 0;
  left: 50%;
  transform: translate(60%, -150%);
  transition: translate 0.6s ease-out;
}

.winning-message.visible {
  transform: translate(-50%, -400%);
  transition: transform 0.4s ease-in;
}
